{% extends "pi_monitor/base.html" %}
{% load static %}
{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}
{% block head %}
<title>{{authority.name}} - {{property.name}}</title>
{% endblock %}
{% block content %}
    

<h1 class="text-center">{{authority.name}}</h1>

<h2 class="text-center">{{property.name}}</h2>

<hr>
<p>See more statistics for:</p>
<ul>
<li><a href="{% url 'pi.body' jurisdiction.slug  authority.slug 'alltime' %}">{{authority.name}}</a></li>
<li><a href="{% url 'pi.property' jurisdiction.slug  property.slug 'alltime' %}">{{property.name}}</a></lu>
</ul>

{% if property.description %}

<p>{{property.description}}</p>

{% endif %}

<hr>
    <a name="change_over_time" href="#change_over_time" style="font-size: smaller;">Link to this chart.</a>
	{{time_chart}}
	
	{% if time_chart_indexed %}
	<a name="change_over_time_index" href="#change_over_time_index" style="font-size: smaller;">Link to this chart.</a>
 	{{time_chart_indexed}}
	{% endif %}
	
	{% if time_chart_percent %}
	<a name="change_over_time_percent" href="#change_over_time_percent" style="font-size: smaller;">Link to this chart.</a>
 		{{time_chart_percent}}
		
		{% if time_chart_percent_indexed %}
		<a name="change_over_time_percent_index" href="#change_over_time_percent_index" style="font-size: smaller;">Link to this chart.</a>
 		{{time_chart_percent_indexed}}
		{% endif %}
	{% endif %}


            <h2>By Year</h2>
	<a name="by_year" href="#by_year" style="font-size: smaller;">Link to this table.</a>
	{{year_table}}
	


{% endblock %}
{% block code %}
	{{chart_collection.render_code}}  
{% endblock %}