{% extends "pi_monitor/base.html" %}
{% load static %}
{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}
{% block head %}
<title>{{authority.name}} - {{property.name}}</title>
{% endblock %}
{% block content %}
    

<h1 class="text-center">{{authority.name}}</h1>

<h2 class="text-center">{{property.name}}</h2>

<hr>
<p><a href="{% url 'pi.body' jurisdiction.slug  authority.slug 'alltime' %}">See more statistics for {{authority.name}}.</a></p>
<p><a href="{% url 'pi.property' jurisdiction.slug  property.slug 'alltime' %}">See more statistics for {{property.name}}.</a></p>

{% if property.description %}

<p>{{property.description}}</p>

{% endif %}

<hr>

            <h2><a name="change_over_time" href="#change_over_time" style="font-size: smaller;">&#128279;</a>Change over time</h2>
	{{time_chart}}
	
	{% if time_chart_indexed %}
            <h2><a name="change_over_time_index" href="#change_over_time_index" style="font-size: smaller;">&#128279;</a>Change over time (Indexed on start)</h2>
	{{time_chart_indexed}}
	{% endif %}
	
	{% if time_chart_percent %}
            <h2><a name="change_over_time_percent" href="#change_over_time_percent" style="font-size: smaller;">&#128279;</a>Change over time as a percentage of <a href="{% url 'pi.bodystat' jurisdiction.slug authority.slug property.child_of.slug %}">{{property.child_of.name}}</a></h2>
		{{time_chart_percent}}
		
		{% if time_chart_percent_indexed %}
            <h2><a name="change_over_time_percent_index" href="#change_over_time_percent_index" style="font-size: smaller;">&#128279;</a>Change over time as a percentage of <a href="{% url 'pi.bodystat' jurisdiction.slug authority.slug property.child_of.slug %}">{{property.child_of.name}}</a> (Indexed on start)</h2>
		{{time_chart_percent_indexed}}
		{% endif %}
	{% endif %}


            <h2><a name="by_year" href="#by_year" style="font-size: smaller;">&#128279;</a>By Year</h2>
	
	{{year_table}}
	


{% endblock %}
{% block code %}
	{{chart_collection.render_code}}  
{% endblock %}