{% extends "pi_monitor/base.html" %}
{% load static %}
{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}
{% block head %}
<title>{{jurisdiction.name}} Statistics</title>
{% endblock %}
{% block content %}


{{desc|safe}}

        <p>Statistics are available for: {% for y in years %}{% if forloop.first == False %}{% if forloop.last %} and {% else %}, {%endif%}{%endif%}<a href="{% url 'pi.year' jurisdiction.slug y.slug %}" >{{y.display}}</a>{% endfor %}.
     
		<p>You can also see statistics for <a href="{% url 'pi.body' jurisdiction.slug 'all-authorities' 'alltime' %}">requests made to all authorities</a>.</p>
	
		<h2>Public information requests by sector (all time)</h2>
		
		{{all_time_chart}}

		<h2>Change over time by sector</h2>
		
		{{over_time_chart}}

		<h2>{% for t in jurisdiction.adapter.avaliable_types %}{{t|upper}}{% if not forloop.last %}, {% endif %}{%endfor %} volumes</h2>
		
		{{type_distribution_chart}}
		
		<h2>Statistics by sectors</h2>
		<ul>
		{% for s in jurisdiction.sectors %}
		<li><a href="{% url 'pi.body' jurisdiction.slug s.slug 'alltime' %}">{{s.name}}</a></li>
		{% endfor %}
		</ul>
		
		<h2>Statistics by authority</h2>
		{% regroup jurisdiction.ordered_bodies by sector as body_list %}
		{% for bl in body_list %}
		<h3>{{bl.grouper.name}}</h3>
		<ul>
		{% for s in bl.list %}
		<li><a href="{% url 'pi.body' jurisdiction.slug s.slug 'alltime' %}">{{s.name}}</a></li>
		{% endfor %}
		</ul>
		{% endfor %}
{% endblock %}

{% block code %}
	{{chart_collection.render_code}}  
{% endblock %}