{% extends "pi_monitor/base.html" %}
{% load static %}
{% load bootstrap %}
{% load extra_tags %}
{% load humanize %}
{% block head %}
<title>{{property.name}} - {{year.display}}</title>
{% endblock %}
{% block content %}
    

<h1 class="text-center">{{property.name}}</h1>

{% if property.description %}

<p>{{property.description}}</p>

{% endif %}

<hr>
<ul class="nav nav-tabs">
    {% for y in years %}
    <li role="presentation" {% if year == y %}class="active"{% endif %}><a href="{% url 'pi.property' jurisdiction.slug property.slug  y.slug %}">{{y.display}}</a></li>
    {% endfor %}
</ul>
	<a name="change_over_time"></a>
	<a  href="#change_over_time" style="font-size: smaller;">Link to this chart</a>
	{{time_chart}}
	
	
	{% if time_chart_percent %}
	<a name="change_over_time_percent"></a>
	<a href="#change_over_time_percent" style="font-size: smaller;"">Link to this chart</a>
		{{time_chart_percent}}
	
	{% endif %}



	<h2>By sector ({{year.display}})</h2>
	<a name="by_sector_{{year.number}}" href="#by_sector_{{year.number}}" style="font-size: smaller;">Link to this table.</a>
	{{sector_table}}
	
	<h2>By authority ({{year.display}})</h2>
	<a name="by_authority_{{year.number}}" href="#by_authority_{{year.number}}" style="font-size: smaller;">Link to this table.</a>
	{{authority_table}}

{% endblock %}
{% block code %}
	{{chart_collection.render_code}}  
{% endblock %}