
<div id="chart_standin" style="width:100%" class=""></div>

<script src="https://cdn.jsdelivr.net/npm/vega@5.9.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.8.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2.1"></script>


<script type="text/javascript">   
True = true;

    function drawChart(spec) {
var embed_opt = {"mode":"vega-lite", "defaultStyle": false };
const chart_standin = document.getElementById('chart_standin');
vegaEmbed("#chart_standin", spec, embed_opt)
      }
</script>